@tailwind base;
@tailwind components;
@tailwind utilities;

.landing-page {
    background-image: url('/storage/app/public/assets/images/landing_page.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: relative;
}

.content h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.content h2 {
    font-size: 2rem;
    font-weight: 700;
}
